
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<span style="color: green; border: 1px solid green; padding: 30px; position: relative; top: 30px">Đặt hàng thành công <i class="fa fa-check"></i></span>


