
@{
    ViewBag.Title = "Giỏ hàng trống";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<span style="color: red; border: 1px solid red; padding: 30px; position: relative; top: 30px">Bạn chưa thêm sản phẩm nào vào giỏ hàng</span>

